<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Primary Meta Tags -->
<title>Delete Account</title>
<meta name="title" content="Velammal Digi Lib">
<meta name="description" content="This website is created by Lavan  team ,come and explore you can do lots and more stuff.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://vec-cse-lib.lavan.net.in/">
<meta property="og:title" content="Velammal Digi Lib">
<meta property="og:description" content="This website is created by Lavan team ,come and explore you can do lots and more stuff.">
<meta property="og:image" content="https://raw.githubusercontent.com/VEC-CSE/init-fronend/main/img/logo.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://vec-cse-lib.lavan.net.in/">
<meta property="twitter:title" content="Velammal Digi Lib">
<meta property="twitter:description" content="This website is created by Lavan team ,come and explore you can do lots and more stuff.">
<meta property="twitter:image" content="https://raw.githubusercontent.com/VEC-CSE/init-fronend/main/img/logo.jpg">

<!-- Font Awesome -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  rel="stylesheet"
/>
<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  rel="stylesheet"
/>
<!-- MDB -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css"
  rel="stylesheet"
/>

<!-- MDB -->
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.js"
></script>


<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "eiz3mun5pu");
</script>
<link rel="icon" type="image/x-icon" href="https://veclib.lavan.net.in/assets/favicon.png">
</head>
<section class="vh-100" style="background-color: #edf2f7;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="https://veclib.lavan.net.in/image/books-g5b0eb5412_1920.jpg"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;height:100%;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <form action="/auth/delete" method="post">
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <img src="https://veclib.lavan.net.in/assets/favicon.png" alt="">
                      <p class="h5 fw-bold mb-0"> VEC DigiLib</p>
                      
                    </div>
  
                    <h6 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">We are unhappy to see you go :(
                    </h6>
                    {{#if msg}}
                    <p style="color:red;" class="{{msg_type}} alert alert-danger" role="alert">{{msg}}</p>
                    {{/if}}
                    <br>
                    <br>
                    <div class="form-outline mb-4">
                      <input type="email" id="form2Example17" name="email" class="form-control form-control-lg" placeholder="name@example.com" required />
                      <label class="form-label" for="form2Example17">Email address</label>
                    </div>
                    <div class="form-outline mb-4">
                        <input type="password" id="form2Example27" name="password" class="form-control form-control-lg" required />
                        <label class="form-label" for="form2Example27">Password</label>
                      </div>
    
                
                    <div class="pt-1 mb-4">
                      <button class="btn btn-dark btn-lg btn-block" type="submit">Delete</button>
                    </div>
  
                    
                    <a href="https://veclib.lavan.net.in/privacy.html" class="small text-muted">Privacy policy</a>
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
