<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Primary Meta Tags -->
<title>DigiChat</title>
<meta name="title" content="Velammal Digi Lib">
<meta name="description" content="This website is created by Lavan  team ,come and explore you can do lots and more stuff.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://vec-cse-lib.lavan.net.in/">
<meta property="og:title" content="Velammal Digi Lib">
<meta property="og:description" content="This website is created by Lavan team ,come and explore you can do lots and more stuff.">
<meta property="og:image" content="https://raw.githubusercontent.com/VEC-CSE/init-fronend/main/img/logo.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://vec-cse-lib.lavan.net.in/">
<meta property="twitter:title" content="Velammal Digi Lib">
<meta property="twitter:description" content="This website is created by Lavan team ,come and explore you can do lots and more stuff.">
<meta property="twitter:image" content="https://raw.githubusercontent.com/VEC-CSE/init-fronend/main/img/logo.jpg">

<!-- Font Awesome -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  rel="stylesheet"
/>
<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  rel="stylesheet"
/>
<!-- MDB -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css"
  rel="stylesheet"
/>

<!-- MDB -->
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.js"
></script>


<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "eiz3mun5pu");
</script>
<link rel="icon" type="image/x-icon" href="https://veclib.lavan.net.in/assets/favicon.png">
<script
	type="module"
	src="https://gradio.s3-us-west-2.amazonaws.com/3.37.0/gradio.js"
></script>

<gradio-app src="https://lavanjv-vec-digichat.hf.space"></gradio-app>
</head>

