<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Primary Meta Tags -->
<title>Register</title>
<meta name="title" content="Velammal Digi Lib">
<meta name="description" content="This website is created by Lavan  team ,come and explore you can do lots and more stuff.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://vec-cse-lib.lavan.net.in/">
<meta property="og:title" content="Velammal Digi Lib">
<meta property="og:description" content="This website is created by Lavan team ,come and explore you can do lots and more stuff.">
<meta property="og:image" content="https://raw.githubusercontent.com/VEC-CSE/init-fronend/main/img/logo.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://vec-cse-lib.lavan.net.in/">
<meta property="twitter:title" content="Velammal Digi Lib">
<meta property="twitter:description" content="This website is created by Lavan team ,come and explore you can do lots and more stuff.">
<meta property="twitter:image" content="https://raw.githubusercontent.com/VEC-CSE/init-fronend/main/img/logo.jpg">

<!-- Font Awesome -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  rel="stylesheet"
/>
<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  rel="stylesheet"
/>
<!-- MDB -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css"
  rel="stylesheet"
/>

<!-- MDB -->
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.js"
></script>


<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "eiz3mun5pu");
</script>
<link rel="icon" type="image/x-icon" href="https://veclib.lavan.net.in/assets/favicon.png">
</head>
<body style="background-color: #f5f5f5">
    

<!-- Section: Design Block -->
<section class="" >
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-3 fw-bold ls-tight">
                The Transformative<br />
              <span class="text-primary">Solution</span>
            </h1>
            <p style="color: hsl(217, 10%, 50.8%)">
                This app has the potential to empower rural communities, bridge the educational gap, and foster growth and development in rural areas.
            </p>
          </div>
  
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">
                <form action="/auth/register" method="post">
                  <!-- 2 column grid layout with text inputs for the first and last names -->
                  {{#if msg}}
                  <p  class="{{msg_type}} alert " role="alert">{{msg}}</p>
                  {{/if}}
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="form3Example1" name="name" class="form-control" required/>
                        <label class="form-label" for="form3Example1">Name</label>
                      </div>
                    </div>
                       <!-- Email input -->
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                    <input type="email" id="form3Example3"  name="email" class="form-control" required/>
                    <label class="form-label" for="form3Example3">Email address</label>
                  </div>
                </div>
                    <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <input type="text" id="form3Example21" name="eduqualf" class="form-control" required/>
                          <label class="form-label" for="form3Example21">Educational Qualification</label>
                        </div>
                      </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="form3Example2" name="insname" class="form-control" required/>
                        <label class="form-label" for="form3Example2">Institution Name</label>
                      </div>
                    </div>
               
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="form3Example24" name="inspincode" class="form-control" required/>
                      <label class="form-label" for="form3Example24">Institution Pincode</label>
                    </div>
                  </div>
               
  
                  <!-- Password input -->
                  <div class="form-outline mb-4">
                    <input type="password" id="form3Example4" name="password" class="form-control" required/>
                    <label class="form-label" for="form3Example4">Password</label>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="password" id="form3Example4" name="cpassword" class="form-control" required/>
                    <label class="form-label" for="form3Example4">Confirm Password</label>
                  </div>
  
                  <!-- Checkbox -->
                  <div class="form-check d-flex justify-content-center mb-4">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked required/>
                    <label class="form-check-label" for="form2Example33">
                      I agree to terms & condition and <a href="https://veclib.lavan.net.in/privacy.html">privacy policy</a>
                    </label>
                  </div>
  
                  <!-- Submit button -->
                  <button type="submit" class="btn btn-primary btn-block mb-4">
                    Sign up
                  </button>
  
                  <!-- Register buttons -->
                  <div class="text-center">
                   or <a href="/">Back to Login</a>
                    
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->

</body>
